.habit-edge{
    border-radius: 70px;
    padding: 25px 30px 20px 60px !important;
    box-sizing: content-box;
 }

.icon-color{
    color: #0B0F17 !important;
}

.expanded-padding{
    padding: 20px;
}

.habit-img{
    border-radius: 50%;
    width:7vh;
    height:7vh;
    object-fit: cover;
}